<f:layout name="Default" />


<f:section name="Content">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Styles/Main.css')}" />
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Styles/xeditable.css')}" />
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/Libraries/angular.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/Libraries/xeditable.min.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/Libraries/dirPagination.js')}"></script>
	<script type="text/javascript">
		// using manual bootstrapping as the ng-app directive does not work for RequireJS-based modules
		require(['TYPO3/CMS/Modernfilelist/Module'], function() {
			angular.bootstrap(document.getElementById('filelist'), ['filelistApp']);
		});
	</script>

	<div id="filelist" ng-controller="FileListController as cnt" storage="{storage.uid}" path="{path}">
		Filter: <input ng-model="nameFilter" />
		<input type="checkbox" ng-model="showOnlyWithoutReferences" id="limit-without-references" /> <label for="limit-without-references"> Nur Dateien ohne Referenzen anzeigen</label>
		<table class="t3-table">
			<thead>
			<tr>
				<td>Filename</td>
				<td></td>
				<td>Type</td>
				<td>Last Modified</td>
				<td>Size</td>
				<td>RW</td>
				<td>Ref</td>
			</tr>
			</thead>
			<tbody>
			<tr dir-paginate="file in cnt.files | filter : filterFileList() | orderBy : 'name' | itemsPerPage: 25">
				<td title="{{file.name}}"><span editable-text="file.name" onbeforesave="actions.renameFile(file, $data)">{{file.name | limitTo : 40}}{{file.name.length > 40 ? '…' : ''}}</span></td>
				<td>
					<span ng-click="actions.deleteFile(file)" class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
				</td>
				<td>{{file.type}}</td>
				<td>{{file.lastModified | date : 'yyyy-MM-dd'}}</td>
				<td class="filesize">{{file.size | bytes}}</td>
				<td>{{file.permissions}}</td>
				<td>{{file._referenceCount}}</td>
			</tr>
			</tbody>
		</table>
		<dir-pagination-controls></dir-pagination-controls>
	</div>
</f:section>